Flask
python-dotenv

langchain
langchain-core
langchain-community
langchain-openai

openai

faiss-cpu

unstructured
pdf2image
pdfminer.six==20231228
pi-heif==0.21.0
Pillow

Werkzeug

gunicorn
